p {
  padding-bottom: 20px;
  line-height: 1.5;
}
a {
  color: #0C59AF;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a:hover {
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans";
  font-weight: 700;
  padding-bottom: 20px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
  color: inherit;
}
h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active, .h1 a:active, .h2 a:active, .h3 a:active, .h4 a:active, .h5 a:active, .h6 a:active {
  color: #0C59AF;
}
@media screen and (min-width: 1025px) {
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .h1 a:hover, .h2 a:hover, .h3 a:hover, .h4 a:hover, .h5 a:hover, .h6 a:hover {
    color: #0C59AF;
  }
}
h1, .h1 {
  font-size: 35px;
  line-height: 1.25;
  padding-bottom: 25px;
}
@media screen and (min-width: 768px) {
  h1, .h1 {
    font-size: 55px;
  }
}
h2, .h2 {
  font-size: 28px;
}
h2.has_line, .h2.has_line {
  padding-bottom: 0;
}
h2.has_line:after, .h2.has_line:after {
  content: '';
  background-color: bg;
  height: 2px;
  width: 22px;
  display: block;
  margin: 12px 0 30px;
}
h2.has_line.to_right, .h2.has_line.to_right {
  margin-bottom: 30px;
}
h2.has_line.to_right:after, .h2.has_line.to_right:after {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 8px 14px;
}
@media screen and (min-width: 768px) {
  h2, .h2 {
    font-size: 40px;
  }
}
h3, .h3 {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  h3, .h3 {
    font-size: 28px;
  }
}
h4, .h4 {
  font-size: 18px;
}
h5, .h5 {
  font-size: 14px;
}
.post_content ul {
  margin: 0 0 20px 15px;
}
.post_content ul li {
  padding: 5px 0 5px 15px;
  position: relative;
}
.post_content ul li:before {
  content: "";
  background: #0C59AF;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  top: 1.0714285714rem;
  left: 0;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="search"], input[type="password"], textarea {
  height: 40px;
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  padding: 0 1.4285714286rem;
  font-family: "Open Sans";
  font-size: 1rem;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="search"]:focus, input[type="password"]:focus, textarea:focus {
  border-color: #0C59AF;
}
input[type="text"]:-webkit-autofill, input[type="email"]:-webkit-autofill, input[type="tel"]:-webkit-autofill, input[type="search"]:-webkit-autofill, input[type="password"]:-webkit-autofill, textarea:-webkit-autofill {
  -webkit-text-fill-color: #333333 !important;
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}
textarea {
  resize: none;
  height: 100px;
  padding: 12px 1.4285714286rem;
}
.button, .submit {
  display: inline-block;
  line-height: 2.8571428571rem;
  padding: 0 1.4285714286rem;
  font-size: 1rem;
  background: #0C59AF;
  color: #fff;
  font-family: "Open Sans";
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.button:hover, .submit:hover {
  background: yellow;
  text-decoration: none;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
@media screen and (min-width: 1025px) {
  .flex__rwd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .flex__mob {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}
.start {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}
.end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.around {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
}
.alc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.alstart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
}
.alend {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}
.bg_cover {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flex_grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 calc(var(--grid-gap) / -2);
}
.flex_grid > * {
  margin: 0 calc(var(--grid-gap)/2);
}
@media screen and (min-width: 1025px) {
  .flex_grid__rwd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 calc(var(--grid-gap) / -2);
  }
  .flex_grid__rwd > * {
    margin: 0 calc(var(--grid-gap)/2);
  }
}
@media screen and (min-width: 768px) {
  .flex_grid__mob {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 calc(var(--grid-gap) / -2);
  }
  .flex_grid__mob > * {
    margin: 0 calc(var(--grid-gap)/2);
  }
}
[class*="flex_grid"] {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
[class*="flex_grid"]._nowrap {
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
}
[class*="flex_grid"]._align_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
[class*="flex_grid"]._space_between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
[class*="flex_grid"] > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: calc(var(--grid-gap));
}
[class*="flex_grid"] > *._col_1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100%/12*1 - var(--grid-gap));
  -moz-box-flex: 0;
  -moz-flex: 0 0 calc(100%/12*1 - var(--grid-gap));
  -ms-flex: 0 0 calc(100%/12*1 - var(--grid-gap));
  flex: 0 0 calc(100%/12*1 - var(--grid-gap));
}
[class*="flex_grid"] > *._col_2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100%/12*2 - var(--grid-gap));
  -moz-box-flex: 0;
  -moz-flex: 0 0 calc(100%/12*2 - var(--grid-gap));
  -ms-flex: 0 0 calc(100%/12*2 - var(--grid-gap));
  flex: 0 0 calc(100%/12*2 - var(--grid-gap));
}
[class*="flex_grid"] > *._col_3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100%/12*3 - var(--grid-gap));
  -moz-box-flex: 0;
  -moz-flex: 0 0 calc(100%/12*3 - var(--grid-gap));
  -ms-flex: 0 0 calc(100%/12*3 - var(--grid-gap));
  flex: 0 0 calc(100%/12*3 - var(--grid-gap));
}
[class*="flex_grid"] > *._col_4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100%/12*4 - var(--grid-gap));
  -moz-box-flex: 0;
  -moz-flex: 0 0 calc(100%/12*4 - var(--grid-gap));
  -ms-flex: 0 0 calc(100%/12*4 - var(--grid-gap));
  flex: 0 0 calc(100%/12*4 - var(--grid-gap));
}
[class*="flex_grid"] > *._col_5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100%/12*5 - var(--grid-gap));
  -moz-box-flex: 0;
  -moz-flex: 0 0 calc(100%/12*5 - var(--grid-gap));
  -ms-flex: 0 0 calc(100%/12*5 - var(--grid-gap));
  flex: 0 0 calc(100%/12*5 - var(--grid-gap));
}
[class*="flex_grid"] > *._col_6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100%/12*6 - var(--grid-gap));
  -moz-box-flex: 0;
  -moz-flex: 0 0 calc(100%/12*6 - var(--grid-gap));
  -ms-flex: 0 0 calc(100%/12*6 - var(--grid-gap));
  flex: 0 0 calc(100%/12*6 - var(--grid-gap));
}
[class*="flex_grid"] > *._col_7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100%/12*7 - var(--grid-gap));
  -moz-box-flex: 0;
  -moz-flex: 0 0 calc(100%/12*7 - var(--grid-gap));
  -ms-flex: 0 0 calc(100%/12*7 - var(--grid-gap));
  flex: 0 0 calc(100%/12*7 - var(--grid-gap));
}
[class*="flex_grid"] > *._col_8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100%/12*8 - var(--grid-gap));
  -moz-box-flex: 0;
  -moz-flex: 0 0 calc(100%/12*8 - var(--grid-gap));
  -ms-flex: 0 0 calc(100%/12*8 - var(--grid-gap));
  flex: 0 0 calc(100%/12*8 - var(--grid-gap));
}
[class*="flex_grid"] > *._col_9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100%/12*9 - var(--grid-gap));
  -moz-box-flex: 0;
  -moz-flex: 0 0 calc(100%/12*9 - var(--grid-gap));
  -ms-flex: 0 0 calc(100%/12*9 - var(--grid-gap));
  flex: 0 0 calc(100%/12*9 - var(--grid-gap));
}
[class*="flex_grid"] > *._col_10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100%/12*10 - var(--grid-gap));
  -moz-box-flex: 0;
  -moz-flex: 0 0 calc(100%/12*10 - var(--grid-gap));
  -ms-flex: 0 0 calc(100%/12*10 - var(--grid-gap));
  flex: 0 0 calc(100%/12*10 - var(--grid-gap));
}
[class*="flex_grid"] > *._col_11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100%/12*11 - var(--grid-gap));
  -moz-box-flex: 0;
  -moz-flex: 0 0 calc(100%/12*11 - var(--grid-gap));
  -ms-flex: 0 0 calc(100%/12*11 - var(--grid-gap));
  flex: 0 0 calc(100%/12*11 - var(--grid-gap));
}
[class*="flex_grid"] > *._col_12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100%/12*12 - var(--grid-gap));
  -moz-box-flex: 0;
  -moz-flex: 0 0 calc(100%/12*12 - var(--grid-gap));
  -ms-flex: 0 0 calc(100%/12*12 - var(--grid-gap));
  flex: 0 0 calc(100%/12*12 - var(--grid-gap));
}
@media screen and (max-width: 1499px) and (min-width: 1025px) {
  [class*="flex_grid"] > *._col_sd_1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*1 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*1 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*1 - var(--grid-gap));
    flex: 0 0 calc(100%/12*1 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_sd_2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*2 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*2 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*2 - var(--grid-gap));
    flex: 0 0 calc(100%/12*2 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_sd_3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*3 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*3 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*3 - var(--grid-gap));
    flex: 0 0 calc(100%/12*3 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_sd_4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*4 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*4 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*4 - var(--grid-gap));
    flex: 0 0 calc(100%/12*4 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_sd_5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*5 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*5 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*5 - var(--grid-gap));
    flex: 0 0 calc(100%/12*5 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_sd_6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*6 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*6 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*6 - var(--grid-gap));
    flex: 0 0 calc(100%/12*6 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_sd_7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*7 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*7 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*7 - var(--grid-gap));
    flex: 0 0 calc(100%/12*7 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_sd_8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*8 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*8 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*8 - var(--grid-gap));
    flex: 0 0 calc(100%/12*8 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_sd_9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*9 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*9 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*9 - var(--grid-gap));
    flex: 0 0 calc(100%/12*9 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_sd_10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*10 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*10 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*10 - var(--grid-gap));
    flex: 0 0 calc(100%/12*10 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_sd_11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*11 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*11 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*11 - var(--grid-gap));
    flex: 0 0 calc(100%/12*11 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_sd_12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*12 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*12 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*12 - var(--grid-gap));
    flex: 0 0 calc(100%/12*12 - var(--grid-gap));
  }
}
@media screen and (max-width: 1024px) {
  [class*="flex_grid"] > *._col_rwd_1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*1 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*1 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*1 - var(--grid-gap));
    flex: 0 0 calc(100%/12*1 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_rwd_2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*2 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*2 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*2 - var(--grid-gap));
    flex: 0 0 calc(100%/12*2 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_rwd_3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*3 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*3 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*3 - var(--grid-gap));
    flex: 0 0 calc(100%/12*3 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_rwd_4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*4 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*4 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*4 - var(--grid-gap));
    flex: 0 0 calc(100%/12*4 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_rwd_5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*5 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*5 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*5 - var(--grid-gap));
    flex: 0 0 calc(100%/12*5 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_rwd_6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*6 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*6 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*6 - var(--grid-gap));
    flex: 0 0 calc(100%/12*6 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_rwd_7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*7 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*7 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*7 - var(--grid-gap));
    flex: 0 0 calc(100%/12*7 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_rwd_8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*8 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*8 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*8 - var(--grid-gap));
    flex: 0 0 calc(100%/12*8 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_rwd_9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*9 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*9 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*9 - var(--grid-gap));
    flex: 0 0 calc(100%/12*9 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_rwd_10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*10 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*10 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*10 - var(--grid-gap));
    flex: 0 0 calc(100%/12*10 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_rwd_11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*11 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*11 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*11 - var(--grid-gap));
    flex: 0 0 calc(100%/12*11 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_rwd_12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*12 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*12 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*12 - var(--grid-gap));
    flex: 0 0 calc(100%/12*12 - var(--grid-gap));
  }
}
@media screen and (max-width: 767px) {
  [class*="flex_grid"] > *._col_mob_1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*1 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*1 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*1 - var(--grid-gap));
    flex: 0 0 calc(100%/12*1 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_mob_2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*2 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*2 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*2 - var(--grid-gap));
    flex: 0 0 calc(100%/12*2 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_mob_3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*3 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*3 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*3 - var(--grid-gap));
    flex: 0 0 calc(100%/12*3 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_mob_4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*4 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*4 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*4 - var(--grid-gap));
    flex: 0 0 calc(100%/12*4 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_mob_5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*5 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*5 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*5 - var(--grid-gap));
    flex: 0 0 calc(100%/12*5 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_mob_6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*6 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*6 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*6 - var(--grid-gap));
    flex: 0 0 calc(100%/12*6 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_mob_7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*7 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*7 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*7 - var(--grid-gap));
    flex: 0 0 calc(100%/12*7 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_mob_8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*8 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*8 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*8 - var(--grid-gap));
    flex: 0 0 calc(100%/12*8 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_mob_9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*9 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*9 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*9 - var(--grid-gap));
    flex: 0 0 calc(100%/12*9 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_mob_10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*10 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*10 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*10 - var(--grid-gap));
    flex: 0 0 calc(100%/12*10 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_mob_11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*11 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*11 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*11 - var(--grid-gap));
    flex: 0 0 calc(100%/12*11 - var(--grid-gap));
  }
  [class*="flex_grid"] > *._col_mob_12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100%/12*12 - var(--grid-gap));
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100%/12*12 - var(--grid-gap));
    -ms-flex: 0 0 calc(100%/12*12 - var(--grid-gap));
    flex: 0 0 calc(100%/12*12 - var(--grid-gap));
  }
}
@media screen and (min-width: 1025px) {
  [class*="flex_grid"] > *._space_l_1 {
    padding-left: calc(100%/12*1);
  }
  [class*="flex_grid"] > *._space_r_1 {
    padding-right: calc(100%/12*1);
  }
  [class*="flex_grid"] > *._space_l_2 {
    padding-left: calc(100%/12*2);
  }
  [class*="flex_grid"] > *._space_r_2 {
    padding-right: calc(100%/12*2);
  }
  [class*="flex_grid"] > *._space_l_3 {
    padding-left: calc(100%/12*3);
  }
  [class*="flex_grid"] > *._space_r_3 {
    padding-right: calc(100%/12*3);
  }
  [class*="flex_grid"] > *._space_l_4 {
    padding-left: calc(100%/12*4);
  }
  [class*="flex_grid"] > *._space_r_4 {
    padding-right: calc(100%/12*4);
  }
}
@media screen and (min-width: 1025px) {
  .col_space_l_1 {
    padding-left: calc((100% + var(--grid-gap))/12*1);
  }
  .col_space_r_1 {
    padding-right: calc((100% + var(--grid-gap))/12*1);
  }
  .col_space_l_2 {
    padding-left: calc((100% + var(--grid-gap))/12*2);
  }
  .col_space_r_2 {
    padding-right: calc((100% + var(--grid-gap))/12*2);
  }
  .col_space_l_3 {
    padding-left: calc((100% + var(--grid-gap))/12*3);
  }
  .col_space_r_3 {
    padding-right: calc((100% + var(--grid-gap))/12*3);
  }
  .col_space_l_4 {
    padding-left: calc((100% + var(--grid-gap))/12*4);
  }
  .col_space_r_4 {
    padding-right: calc((100% + var(--grid-gap))/12*4);
  }
}
@media screen and (min-width: 1025px) {
  .rwd_show {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .rwd_hide {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .mob_show {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .mob_hide {
    display: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}
a, a:hover, input, textarea, select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ol {
  list-style: decimal inside;
  margin-bottom: 20px;
}
ol li {
  padding: 5px 0 5px 15px;
}
ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}
:focus {
  outline: 0;
}
a img, fieldset, hr {
  border: 0;
}
mark {
  background: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: middle;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="search"], select, textarea {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 0;
  -webkit-appearance: none;
}
input[type="submit"], input[type="button"], button, .button {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-appearance: none;
  cursor: pointer;
  border: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #707070;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #707070;
  opacity: 1;
}
::selection {
  color: #fff;
  background-color: #0C59AF;
}
::-moz-selection {
  color: #fff;
  background-color: #0C59AF;
}
.clear {
  clear: both;
  overflow: hidden;
  display: block;
}
article, aside, details, figcaption, figure, footer, header, nav, section, summary, main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
img.alignleft {
  float: none;
  margin: 0 auto 20px;
}
@media screen and (min-width: 1025px) {
  img.alignleft {
    float: left;
    margin: 0 30px 10px 0;
  }
}
img.alignright {
  float: none;
  margin: 0 auto 20px;
}
@media screen and (min-width: 1025px) {
  img.alignright {
    float: right;
    margin: 0 0 10px 30px;
  }
}
img.aligncenter {
  margin: 0 auto 20px;
}
img.alignnone {
  margin: 0 0 20px;
}
div.wpcf7 .wpcf7-form-control-wrap {
  display: block !important;
  margin-bottom: 20px;
  clear: both;
}
div.wpcf7 .wpcf7-not-valid-tip {
  background: #fff;
  border: 1px solid #FF0000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  font-family: "Open Sans";
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  text-align: left;
}
div.wpcf7 .wpcf7-response-output {
  width: 100%;
  background: #fff;
  margin: 10px 0 0 0;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 20px;
  padding: 5px 20px;
  text-align: center;
}
div.wpcf7 .ajax-loader {
  display: none;
}
.error404 .content {
  text-align: center;
}
.error404 .content h1 {
  font-size: 3.9285714286rem;
  line-height: 1.2;
  padding-bottom: 40px;
  font-weight: 400;
}
.error404 .content h1 span {
  font-size: 5.7142857143rem;
  line-height: 1.2;
  color: #0C59AF;
  font-weight: 700;
}
.error404 .content p {
  font-size: 1.2857142857rem;
}
html {
  font: 400 11.2px/1.42 "Open Sans";
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  html {
    font-size: 11.2px;
  }
}
@media screen and (max-width: 1366px) and (min-width: 1025px) {
  html {
    font-size: 12.6px;
  }
}
@media screen and (min-width: 1367px) {
  html {
    font-size: 14px;
  }
}
body {
  color: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  opacity: 1;
}
@media screen and (max-width: 1024px) {
  body.is_overflow {
    overflow: hidden;
  }
}
#main {
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 100%;
}
.container {
  margin: 0 auto;
  width: 1140px;
  max-width: 92%;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .container {
    max-width: 96%;
  }
}
html::-webkit-scrollbar {
  width: 6px;
}
@media screen and (min-width: 1025px) {
  html::-webkit-scrollbar {
    width: 10px;
  }
}
::-webkit-scrollbar-thumb {
  background: #0C59AF;
}
::-webkit-scrollbar-track {
  background: #eaeaea;
}
::-webkit-scrollbar-thumb:hover {
  background: #0a4d97;
}
::-webkit-scrollbar-thumb:active {
  background: #0a4d97;
}
:root {
  scrollbar-width: thin;
  scrollbar-color: #0C59AF #eaeaea;
}
header {
  position: relative;
  z-index: 100;
}
@media screen and (max-width: 1024px) {
  #mainMenu {
    position: fixed;
    top: 50px;
    width: 100%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: rgba(26, 26, 26, 0.95);
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow-y: auto;
  }
  #mainMenu ul li {
    display: inline-block;
    width: 100%;
    padding: 0;
  }
  #mainMenu ul li a {
    margin: 0;
    color: #fff;
    font-size: 18px;
    padding: 15px 3%;
    border-bottom: 1px solid #000;
    position: relative;
    display: block;
    text-decoration: none;
  }
  #mainMenu ul li a:after {
    display: none;
  }
  #mainMenu ul li:hover > a {
    background: none;
    color: #fff;
  }
  #mainMenu ul li.current-menu-item > a {
    background: #0C59AF;
    color: #fff;
  }
  #mainMenu ul li.menu-item-has-children > a:after {
    display: none;
  }
  #mainMenu ul li span {
    width: 60px;
    background: #0C59AF;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }
  #mainMenu ul li span:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    width: 18px;
    height: 2px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  #mainMenu ul li span:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    width: 2px;
    height: 18px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  #mainMenu ul li span.active:after {
    opacity: 0;
  }
  #mainMenu ul li ul {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
    width: 100%;
    position: static;
    background: none;
    display: none;
    -webkit-transition: none 0.4s ease;
    -moz-transition: none 0.4s ease;
    -ms-transition: none 0.4s ease;
    -o-transition: none 0.4s ease;
    transition: none 0.4s ease;
  }
  #mainMenu ul li ul li {
    display: inline-block;
    float: none;
    width: 100%;
    padding-bottom: 0;
  }
  #mainMenu ul li ul li a {
    margin: 0;
    color: #fff;
    font-size: 18px;
    padding: 10px 6%;
    border-bottom: 1px solid #000;
    position: relative;
    text-decoration: none;
  }
  #mainMenu ul li ul li span {
    background: none;
  }
  #mainMenu ul li ul li:hover a {
    background: none;
    color: #fff;
  }
  #mainMenu ul li ul li.current-menu-item a {
    background: #0C59AF;
    color: #fff;
  }
  #mainMenu ul li ul li ul li a {
    font-size: 16px;
    font-style: italic;
  }
}
@media screen and (min-width: 1025px) {
  #mainMenu > ul {
    font-size: 0;
  }
  #mainMenu > ul > li {
    display: inline-block;
    vertical-align: top;
    position: relative;
  }
  #mainMenu > ul > li > a {
    font-size: 14px;
    display: block;
  }
  #mainMenu > ul > li:hover > a, #mainMenu > ul > li.current-menu-item > a {
    text-decoration: none;
  }
  #mainMenu > ul > li:hover > ul {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
  }
  #mainMenu > ul > li ul {
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
    width: 270px;
    position: absolute;
    left: 0;
    top: 100%;
    background: #0C59AF;
    font-size: 14px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  #mainMenu > ul > li ul li {
    position: relative;
  }
  #mainMenu > ul > li ul li a {
    display: block;
    padding: 7px 18px;
    color: #fff;
    font-size: 0.9285714286rem;
    text-decoration: none;
  }
  #mainMenu > ul > li ul li:hover > a, #mainMenu > ul > li ul li.current-menu-item > a {
    color: #0C59AF;
    background: #fff;
  }
  #mainMenu > ul > li ul li:hover ul {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
  #mainMenu > ul > li ul li ul {
    left: 270px;
    top: 0;
  }
}
#menuOpen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #222;
  height: 50px;
  z-index: 100;
}
#menuOpen.opened span:before, #menuOpen.opened span:after {
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
#menuOpen.opened span:before {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate(-45deg) translate(-7px, 7px);
  -moz-transform: rotate(-45deg) translate(-7px, 7px);
  -ms-transform: rotate(-45deg) translate(-7px, 7px);
  -o-transform: rotate(-45deg) translate(-7px, 7px);
  transform: rotate(-45deg) translate(-7px, 7px);
}
#menuOpen.opened span:after {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  -o-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px);
}
#menuOpen.opened + #mainMenu {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
#menuOpen p {
  margin-left: 3%;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 50px;
  padding-bottom: 0;
}
#menuOpen span {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 3%;
  width: 27px;
  height: 27px;
  cursor: pointer;
  z-index: 300;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#menuOpen span:before, #menuOpen span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  box-shadow: 0 4px 0 0 #fff, 0 18px 0 0 #fff;
  -webkit-box-shadow: 0 4px 0 0 #fff, 0 18px 0 0 #fff;
  -moz-box-shadow: 0 4px 0 0 #fff, 0 18px 0 0 #fff;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#menuOpen span:after {
  content: "";
  position: absolute;
  top: 7px;
  height: 4px;
  -webkit-box-shadow: 0 4px 0 0 #fff;
  -moz-box-shadow: 0 4px 0 0 #fff;
  -ms-box-shadow: 0 4px 0 0 #fff;
  -o-box-shadow: 0 4px 0 0 #fff;
  box-shadow: 0 4px 0 0 #fff;
}
@media screen and (min-width: 1025px) {
  #menuOpen {
    display: none;
  }
}
footer {
  color: #fff;
  padding: 20px 0;
  background-color: #0C59AF;
}
