// theme classes
@use "../core/core" as *;

p {
  padding-bottom: 20px;
  line-height: 1.5;
}

a {
  color: $bg;
  text-decoration: none;

  @include transition;

  @include hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $f;
  font-weight: 700;
  padding-bottom: 20px;

  a {
    color: inherit;

    @include hover {color: $bg}
  }
}

h1, .h1 {
  font-size: 35px;
  line-height: 1.25;
  padding-bottom: 25px;

  @include rwd-min(1081) {
    font-size: 55px;
  }
}

h2, .h2 {
  font-size: 28px;

  &.has_line {
    padding-bottom: 0;

    &::after {
      content: "";
      background-color: $bg;
      height: 2px;
      width: 22px;
      display: block;
      margin: 12px 0 30px;
    }

    &.to_right {
      margin-bottom: 30px;

      &::after {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 8px 14px;
      }
    }
  }

  @include rwd-min(1081) {
    font-size: 40px;
  }
}

h3, .h3 {
  font-size: 20px;

  @include rwd-min(1081) {
    font-size: 28px;
  }
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 14px;
}

.post_content {
  ul {
    margin: 0 0 20px 15px;

    li {
      padding: 5px 0 5px 15px;
      position: relative;

      &::before {
        content: "";
        background: $bg;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        position: absolute;
        top: 15px;
        left: 0;
      }
    }
  }
}

input[type="text"], input[type="email"], input[type="tel"], input[type="search"], input[type="password"], textarea {
  height: $inputH;
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  padding: 0 20px;
  font-family: $f;
  font-size: 14px;

  &:focus {
    border-color: $bg;
  }

  &:-webkit-autofill {
    -webkit-text-fill-color: $c !important;
    box-shadow: 0 0 0 30px $c2 inset !important;
  }
}

textarea {
  resize: none;
  height: 100px;
  padding: 12px 20px;
}

.button, .submit {
  display: inline-block;
  line-height: 40px;
  padding: 0 20px;
  font-size: 14px;
  background: $bg;
  color: #fff;
  font-family: $f;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: $bg2;
    text-decoration: none;
  }
}

%flex-base {
  display: flex;
}

.flex,
.start,
.end,
.center,
.around,
.alc,
.alstart,
.alend {
  @extend %flex-base;
}

.flex {
  justify-content: space-between;
}

.flex__rwd {
  @include rwd-min(1081){
    display: flex;
    justify-content: space-between;
  }
}

.flex__mob {
  @include rwd-min(768){
    display: flex;
    justify-content: space-between;
  }
}

.start { justify-content: flex-start; }
.end { justify-content: flex-end; }
.center { justify-content: center; }
.around { justify-content: space-around; }

.alc {
  justify-content: space-between;
  align-items: center;
}

.alstart {
  align-items: flex-start;
}

.alend {
  align-items: flex-end;
}

.bg_cover {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}