@use "sass:math";

@mixin box-shadow($styles) {
  box-shadow: $styles;
}

@mixin transition($property: all, $duration: .4s, $easing: ease) {
  transition: $property $duration $easing;
}

@mixin transform($action, $backface: false) {
  transform: $action;

  @if $backface {
    backface-visibility: hidden;
  }
}

@mixin user-select($select) {
  user-select: $select;
}

@mixin backface-visibility($back: hidden) {
  backface-visibility: $back;
}

@mixin center($horizontal: true, $vertical: true) {
  position: absolute;

  @if  $horizontal and $vertical {
    top: 50%;
    left: 50%;

    @include transform(translate(-50%, -50%));
  } @else if $horizontal {
    left: 50%;

    @include transform(translate(-50%, 0));
  } @else if $vertical {
    top: 50%;

    @include transform(translate(0, -50%));
  }
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($delay, $duration, $animation) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: forwards;
}

@mixin hover {
  &:active { @content }

  @include rwd-min(1025) {
    &:hover { @content }
  }
}

@function strip-units($value) {
  @return math.div($value, ($value * 0 + 1));
}

@mixin rwd-max($px) {
  @media screen and (max-width: #{$px}px) {
    @content;
  }
}

@mixin rwd-min($px) {
  @media screen and (min-width: #{$px}px) {
    @content;
  }
}

@mixin rwd-range($px, $px2) {
  @media screen and (max-width: #{$px}px) and (min-width: #{$px2}px) {
    @content;
  }
}

@mixin columns($count: 2, $gap: 0) {
  column-count: $count;
  column-gap: $gap;

  > * {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}